.App {
  text-align: center;
  font-size: 35px;
  margin-top: 10%;
}

.App-title {
  font-size: 30px;
  color: #7C787A
}

.App-days, .App-hours, .App-minutes, .App-seconds {
  display: inline;
  margin: 10px;
  color: #63B0CD;
}

.Deadline-input {
  font-size: 25px;
  margin: 10px;
}

.Stopwatch-title {
  font-size: 120px;
  color: #63B0CD;
}
